In [6]:
import pandas as pd 
import numpy as np

In [7]:
data=pd.read_csv("play.csv")

In [8]:
data

     sky airtemp humidity    wind water forecast enjoy
0  sunny    warm   normal  strong  warm     same   yes
1  sunny    warm     high  strong  warm     same   yes
2  rainy    cold     high  strong  warm   change    no
3  sunny    warm     high  strong  cool   change   yes

In [33]:
conc=np.array(data)[:,:-1]
conc

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [34]:
tar=np.array(data)[0:5,-1:]
tar

array([['yes'],
       ['yes'],
       ['no'],
       ['yes']], dtype=object)

In [36]:
def finds(tar,conc):
    for i,val in enumerate(tar):
        if val=='yes':
            spec=conc[i].copy()
            break
    for i,val in enumerate (conc):
        if tar[i]=='yes':
            for x in range(len(spec)):
                if val[x]!=spec[x]:
                    spec[x]='?'
                else:
                    pass
        print('The maimally specific hypothesis is',i)
        print(spec)

In [37]:
print(finds(tar,conc))

The maimally specific hypothesis is 0
['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
The maimally specific hypothesis is 1
['sunny' 'warm' '?' 'strong' 'warm' 'same']
The maimally specific hypothesis is 2
['sunny' 'warm' '?' 'strong' 'warm' 'same']
The maimally specific hypothesis is 3
['sunny' 'warm' '?' 'strong' '?' '?']
None